{% extends 'templates/base.twig' %}

{% block content %}
<h2>Senaste inläggen</h2>

<div class="posts">
    {% if posts > 0 %}
        {% for post in posts %}
        <div class="post">
            <a href="{{ base }}post/{{ post.id }}">
                <h3>{{ post.title }}</h3>
                <div class="img" style="background-image: url('assets/uploads/{{ post.featured_img }}')"></div>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <h3>Sorry, no posts found</h3>
    {% endif %}
</div>

<div class="pagination">{{ pagination | raw }}</div>
{% endblock %}