{% extends 'templates/base.twig' %}

{% block content %}

<h2>{{ cat.name }}</h2>
<p>{{ cat.intro_text }}</p>
<div class="posts">
    {% for post in cat.posts %}
    <div class="post">
        <a href="{{ base }}post/{{ post.id }}">
            <h3>{{ post.title }}</h3>
            <div class="img" style="background-image: url('{{ base }}assets/uploads/{{ post.featured_img }}')"></div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}