{% extends 'templates/base.twig' %}

{% block content %}

<h2>{{ post.title }}</h2>
<div class="img" style="background-image: url('../assets/uploads/{{ post.featured_img }}')"></div>
<p>{{ post.content | raw }}</p>
<p><small>
    Written by <a href="{{ base }}user/{{ post.author.id }}">{{ post.author.full_name }}</a>
    <date>{{ post.created_at.diffForHumans() }}</date>
</small></p>

{% endblock %}
